services:
  - type: web
    name: oneplus-clone
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn oneplus_clone.wsgi:application"  # Replace with your actual Django project name
    envVars:
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: DJANGO_DEBUG
        value: "False"
      - key: PYTHON_VERSION
        value: "3.11.11"